body {
  background: url("assets/crossword.png");
  height: 1200px; }

p {
  font-family: arial;
  font-size: 18px;
  text-align: justify; }

b {
  color: #e34242; }

h2 {
  font-family: arial;
  font-size: 24px;
  text-align: center; }

h3 {
  font-family: 'Maven Pro', arial;
  font-size: 18px;
  margin: 0px 0 -7px 0; }

.container {
  background-color: #42617c;
  width: 90%;
  height: auto;
  overflow: hidden;
  min-height: 400px;
  min-width: 750px;
  max-width: 1000px;
  -moz-box-shadow: 0 0 10px 5px #999;
  -webkit-box-shadow: 0 0 10px 5px #999;
  box-shadow: 0 0 10px 5px #999;
  border-radius: 18px;
  margin: 20px auto 10px;
  z-index: 0; }

.header {
  position: relative;
  display: none; }
  .header .main-fade {
    display: none; }
  .header #name {
    float: right;
    color: #ffffff;
    font-family: 'Maven Pro', arial;
    font-size: 52px;
    font-weight: bold;
    padding: 30px 50px 0 0; }
  .header .toptext {
    position: absolute;
    float: right;
    color: #ffffff;
    font-family: 'Maven Pro', arial;
    font-size: 22px;
    right: 70px;
    top: 130px; }
    .header .toptext:nth-child(2) {
      top: 170px; }
  .header #logo {
    padding: 10px;
    height: 230px; }

#navbar {
  background-color: white;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 25px;
  z-index: 1; }
  #navbar .navbutton {
    display: inline-block;
    height: 36px;
    width: 150px;
    color: black;
    font-family: 'Maven Pro', arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 14px; }
  #navbar .navbutton:hover, #navbar .navbutton.active {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    /*Safari & Chrome*/
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    /* Firefox 4 */
    -o-transition: all 0.2s ease-in;
    /* Opera */
    text-decoration: none;
    color: #c70e1a; }

.more-space [class*="span"] {
  margin-left: 30px;
  margin-right: 30px; }

.content-container {
  margin: 5px auto 20px auto;
  padding: 25px;
  width: 80%;
  background-color: white;
  border-radius: 10px; }

/* May use later for FadeIn of content after slidedown*/
#content {
  margin: auto auto auto auto;
  padding-right: 40px; }

#port-container {
  display: none; }

.portPhotos {
  width: 200px;
  border-radius: 3px; }

#exp-container {
  display: none; }

#contact-container {
  display: none; }
  #contact-container a {
    color: #e34242;
    text-decoration: none; }
  #contact-container p {
    text-align: left; }

/*    ~~~~~~~~~~~~MODALS~~~~~~~~~~~   */
.close {
  cursor: pointer;
  width: 100%;
  height: 30px;
  float: right;
  text-align: right;
  font-family: arial;
  font-size: 36px;
  color: white;
  padding: 2px 7px 12px 0;
  background-color: #42617c; }

.bottomModal {
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-top: -150px;
  /* negative value of footer height */
  height: 150px;
  clear: both;
  cursor: pointer;
  width: 100%;
  font-family: arial;
  color: white;
  font-weight: bold;
  padding: 2px 5px 10px 0;
  background-color: #42617c;
  text-decoration: none; }

.modalTrigger {
  cursor: pointer; }

.modal {
  overflow: hidden;
  border: 8px black solid;
  border-radius: 10px; }

.goodfoodModal {
  display: none;
  position: fixed;
  width: 90%;
  height: auto;
  max-height: 900px;
  min-height: 450px;
  min-width: 750px;
  max-width: 900px;
  top: 0;
  left: 50%;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: white;
  z-index: 1; }

.modalImg {
  max-width: 100%;
  height: auto; }

#statement {
  font-weight: bold; }

#skills {
  font-weight: bold;
  font-family: arial;
  font-size: 18px; }

.resumelink {
  text-decoration: none;
  color: #e34242;
  font-weight: bolder;
  font-size: 22px;
  text-decoration: underline; }
