body {
  background-color: #FBFBFB;
  background-repeat: round;
  min-height: 1000px; }

p {
  font-family: arial;
  font-size: 18px; }

a {
  color: #e34242;
  text-decoration: none; }
  a:hover {
    color: #bd1c1c; }

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -20px;
  opacity: 0.45;
  background-color: black;
  position: fixed;
  z-index: 3; }

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  z-index: 4; }
  .modal img {
    width: 100%;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.container {
  background-color: #42617c;
  width: 90%;
  height: auto;
  overflow: hidden;
  min-height: 400px;
  max-width: 1000px;
  -moz-box-shadow: 0 0 10px 5px #999;
  -webkit-box-shadow: 0 0 10px 5px #999;
  box-shadow: 0 0 10px 5px #999;
  border-radius: 18px;
  margin: 20px auto 10px;
  z-index: 0; }

.header {
  position: relative;
  display: none; }
  .header .main-fade {
    display: none; }
  .header .name {
    float: right;
    color: #ffffff;
    font-family: 'Maven Pro', arial;
    font-size: 52px;
    font-weight: bold;
    padding: 30px 50px 0 0; }
  .header .toptext {
    position: absolute;
    float: right;
    color: #ffffff;
    font-family: 'Maven Pro', arial;
    font-size: 22px;
    right: 70px;
    top: 130px; }
    .header .toptext:nth-child(2) {
      top: 170px; }
  .header .logo {
    padding: 10px;
    height: 230px; }
    @media screen and (max-width: 800px) {
      .header .logo img {
        width: 30%; } }

.glow {
  animation: glow .7s ease-out infinite alternate;
  -webkit-animation: glow .7s ease-out infinite alternate; }

@keyframes glow {
  0% {
    text-shadow: 0 0 22px #c70e1a; }

  50% {
    text-shadow: 0 0 15px #c70e1a; }

  100% {
    text-shadow: 0 0 0 #c70e1a; } }
@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 22px #c70e1a; }

  50% {
    text-shadow: 0 0 15px #c70e1a; }

  100% {
    text-shadow: 0 0 0 #c70e1a; } }
.navbar {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .navbar .navbutton {
    display: inline-block;
    height: 36px;
    width: 160px;
    color: #000000;
    font-family: 'Maven Pro', arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 14px; }
  .navbar .navbutton:hover, .navbar .navbutton.active {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    text-decoration: none;
    color: #c70e1a; }
  .navbar .slider {
    display: none;
    position: absolute;
    height: 50px;
    background-color: #e34242;
    opacity: 0.4;
    right: -200px;
    top: -25px;
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 25px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-right: 25px solid #e34242;
      position: absolute;
      top: -50px;
      left: -25px; }
  .navbar .slider-1 {
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 35px solid transparent;
    border-top: 35px solid transparent;
    border-right: 15px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider-1:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      border-right: 15px solid #e34242;
      position: absolute;
      top: -35px;
      left: -15px; }
  .navbar .slider-2 {
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 10px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider-2:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-right: 10px solid #e34242;
      position: absolute;
      top: -25px;
      left: -10px; }
  .navbar .slider-3 {
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 10px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider-3:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-right: 10px solid #e34242;
      position: absolute;
      top: -25px;
      left: -10px; }
  .navbar .circle {
    display: none;
    position: absolute;
    background-color: #e34242;
    opacity: 0.4;
    right: -200px;
    top: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%; }
  .navbar .circle-1 {
    top: 8px;
    width: 35px;
    height: 35px; }
  .navbar .circle-2 {
    top: 15px;
    width: 20px;
    height: 20px; }
  .navbar .circle-3 {
    top: 17px;
    width: 15px;
    height: 15px; }

.content-container {
  display: none;
  margin: 5px auto 20px auto;
  padding: 25px;
  width: 80%;
  min-height: 40px;
  background-color: #ffffff;
  border-radius: 10px; }

.img-holder {
  position: relative;
  width: 45%;
  height: auto;
  cursor: pointer; }
  .img-holder .mag-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url("assets/mag-icon.svg");
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in; }
  .img-holder:hover .mag-icon {
    opacity: 0.6;
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in; }

#portfolio-container {
  display: none; }
  #portfolio-container h2 {
    font-family: arial;
    font-size: 26px;
    text-align: center; }
  #portfolio-container > div {
    padding-bottom: 20px; }
    #portfolio-container > div > p {
      width: 80%;
      margin: 0 auto; }
  #portfolio-container .port-div {
    min-height: 250px; }
    #portfolio-container .port-div p {
      float: right;
      width: 50%; }
    #portfolio-container .port-div img {
      width: 100%; }
  #portfolio-container .goodfood p {
    margin-top: 80px; }
  #portfolio-container .goodfood img {
    width: 48%; }
  #portfolio-container .thelist {
    min-height: 350px; }
    #portfolio-container .thelist p {
      float: left;
      width: 45%; }
    #portfolio-container .thelist .img-holder {
      float: right; }
  #portfolio-container .sweatguru p {
    float: right; }

#resume-container {
  background-color: #42617c;
  display: none;
  padding: 10px 0;
  width: 88%; }
  #resume-container h3 {
    margin: 10px auto; }
  #resume-container b {
    color: #e34242; }
  #resume-container .resume-sub {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    height: auto;
    padding: 10px; }
    #resume-container .resume-sub h3 {
      margin-left: 15px; }

.resume-left {
  float: right;
  width: 220px; }
  .resume-left .skills {
    width: 200px;
    margin-bottom: 20px; }
    .resume-left .skills ul {
      margin: 0 0 10px 35px;
      padding: 0;
      list-style-type: none; }
      .resume-left .skills ul li {
        letter-spacing: 1px;
        padding-top: 4px; }
  .resume-left .resume {
    width: 200px; }
    .resume-left .resume a {
      display: block;
      margin: 5px 0 10px 30px; }

.resume-right {
  width: 69%;
  float: left; }
  @media screen and (max-width: 1000px) {
    .resume-right {
      width: 65%; } }
  @media screen and (max-width: 900px) {
    .resume-right {
      width: 62%; } }
  @media screen and (max-width: 800px) {
    .resume-right {
      width: 57%; } }
  .resume-right .summary {
    width: 96%;
    height: 300px; }

#contact-container {
  display: none; }
  #contact-container .headshot {
    width: 200px;
    border-radius: 5px;
    float: left;
    margin-top: 15px; }
  #contact-container .social {
    float: right; }
  #contact-container .contact-blurb {
    display: inline-block;
    width: 56%;
    margin-left: 4%; }
    #contact-container .contact-blurb p {
      text-align: left; }

@media screen and (max-width: 400px) {
  .header {
    display: none; }

  .m-header {
    display: block; } }
