body {
  background-color: #FBFBFB;
  background-repeat: round; }

p, li {
  font-family: arial;
  font-size: 18px; }

ul {
  padding: 0;
  list-style-type: none; }

h2, h3 {
  font-family: arial; }

a {
  color: #e34242;
  text-decoration: none; }
  a:hover {
    color: #bd1c1c; }

@media screen and (max-width: 700px) {
  p, li {
    font-size: 16px; } }
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -20px;
  opacity: 0.45;
  background-color: black;
  position: fixed;
  z-index: 3; }

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  z-index: 4; }
  .modal img {
    width: 100%;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 500px) {
    .modal {
      width: 100%; } }

.container {
  background-color: #42617c;
  width: 90%;
  height: auto;
  overflow: hidden;
  min-height: 400px;
  max-width: 1000px;
  -moz-box-shadow: 0 0 10px 5px #999;
  -webkit-box-shadow: 0 0 10px 5px #999;
  box-shadow: 0 0 10px 5px #999;
  border-radius: 18px;
  margin: 20px auto 30px;
  padding-bottom: 10px;
  z-index: 0; }

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0; } }
.header {
  position: relative;
  display: none; }
  .header .main-fade {
    display: none; }
  .header .name {
    float: right;
    color: #ffffff;
    font-family: 'Maven Pro', arial;
    font-size: 52px;
    font-weight: bold;
    padding: 30px 50px 0 0; }
    @media screen and (max-width: 700px) {
      .header .name {
        padding: 15px 25px 15px 0;
        font-size: 42px; } }
  .header .toptext {
    position: absolute;
    float: right;
    color: #ffffff;
    font-family: 'Maven Pro', arial;
    font-size: 22px;
    right: 70px;
    top: 130px; }
    .header .toptext:nth-child(2) {
      top: 170px; }
    @media screen and (max-width: 700px) {
      .header .toptext {
        right: 34px; } }
    @media screen and (max-width: 500px) {
      .header .toptext {
        font-size: 17px;
        top: 65px; }
        .header .toptext:nth-child(2) {
          top: 90px; } }
  .header .logo {
    padding: 10px;
    height: 230px; }
    @media screen and (max-width: 800px) {
      .header .logo img {
        width: 30%; } }
    @media screen and (max-width: 500px) {
      .header .logo {
        height: 130px; }
        .header .logo img {
          display: none; } }

.glow {
  animation: glow .7s ease-out infinite alternate;
  -webkit-animation: glow .7s ease-out infinite alternate; }

@keyframes glow {
  0% {
    text-shadow: 0 0 22px #c70e1a; }

  50% {
    text-shadow: 0 0 15px #c70e1a; }

  100% {
    text-shadow: 0 0 0 #c70e1a; } }
@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 22px #c70e1a; }

  50% {
    text-shadow: 0 0 15px #c70e1a; }

  100% {
    text-shadow: 0 0 0 #c70e1a; } }
.navbar {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .navbar .navbutton {
    display: inline-block;
    height: 36px;
    width: 160px;
    color: #000000;
    font-family: 'Maven Pro', arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 14px; }
  .navbar .navbutton:hover, .navbar .navbutton.active {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    text-decoration: none;
    color: #c70e1a; }
  .navbar .slider {
    display: none;
    position: absolute;
    height: 50px;
    background-color: #e34242;
    opacity: 0.4;
    right: -200px;
    top: -25px;
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 25px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-right: 25px solid #e34242;
      position: absolute;
      top: -50px;
      left: -25px; }
  .navbar .slider-1 {
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 35px solid transparent;
    border-top: 35px solid transparent;
    border-right: 15px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider-1:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      border-right: 15px solid #e34242;
      position: absolute;
      top: -35px;
      left: -15px; }
  .navbar .slider-2 {
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 10px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider-2:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-right: 10px solid #e34242;
      position: absolute;
      top: -25px;
      left: -10px; }
  .navbar .slider-3 {
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 10px solid white;
    font-size: 0;
    line-height: 0;
    vertical-align: middle; }
    .navbar .slider-3:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-right: 10px solid #e34242;
      position: absolute;
      top: -25px;
      left: -10px; }
  .navbar .circle {
    display: none;
    position: absolute;
    background-color: #e34242;
    opacity: 0.4;
    right: -200px;
    top: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%; }
  .navbar .circle-1 {
    top: 8px;
    width: 35px;
    height: 35px; }
  .navbar .circle-2 {
    top: 15px;
    width: 20px;
    height: 20px; }
  .navbar .circle-3 {
    top: 17px;
    width: 15px;
    height: 15px; }

@media screen and (max-width: 700px) {
  .navbar {
    height: 90px;
    padding: 0;
    position: relative; }
    .navbar .navbutton {
      display: block;
      width: 100%;
      height: 16px;
      margin: 0 auto;
      padding: 6px; }
      .navbar .navbutton.active {
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        color: #c70e1a; } }
.nav-arrow-container {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 90px;
  z-index: -1; }
  .nav-arrow-container .nav-arrow {
    position: relative;
    left: -49%;
    top: -30px;
    margin: 0 auto;
    width: 180px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    border-left: 0 solid #c70e1a;
    border-right: 0 solid #c70e1a; }
    .nav-arrow-container .nav-arrow:before, .nav-arrow-container .nav-arrow:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 0; }
    .nav-arrow-container .nav-arrow:before {
      border-left: 12px solid #c70e1a;
      left: 0; }
    .nav-arrow-container .nav-arrow:after {
      border-right: 12px solid #c70e1a;
      right: 0; }

.content-container {
  display: none;
  margin: 5px auto 20px auto;
  padding: 25px;
  width: 80%;
  min-height: 40px;
  background-color: #ffffff;
  border-radius: 10px; }
  .content-container .content {
    position: relative; }

.img-holder {
  position: relative;
  width: 45%;
  height: auto;
  cursor: pointer; }
  .img-holder .mag-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url("assets/mag-icon.svg");
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in; }
  .img-holder:hover .mag-icon {
    opacity: 0.6;
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in; }

#portfolio-container {
  display: none;
  padding: 25px 0; }
  #portfolio-container h2 {
    font-size: 26px;
    text-align: center; }

@media screen and (max-width: 700px) {
  #portfolio-container h2 {
    font-size: 22px; } }
.port-div {
  padding: 0 10px 20px 10px;
  min-height: 250px; }
  .port-div p {
    width: 45%;
    display: inline-block;
    margin: 0 auto; }
    .port-div p .link {
      font-weight: bold;
      white-space: nowrap; }
  .port-div img {
    width: 100%; }

.sweatguru p {
  width: 50%;
  padding-left: 3%; }
.sweatguru .img-holder {
  float: left; }
.sweatguru .thumbnails {
  width: 95%;
  margin: 20px auto 0;
  padding-top: 18px;
  text-align: center;
  clear: both; }
  .sweatguru .thumbnails img {
    height: 70px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 5px; }
    .sweatguru .thumbnails img:hover {
      -webkit-box-shadow: 0px 0px 0px 3px #42617c;
      -moz-box-shadow: 0px 0px 0px 3px #42617c;
      box-shadow: 0px 0px 0px 3px #42617c; }

@media screen and (max-width: 700px) {
  .sweatguru .thumbnails > img {
    height: 50px; } }
.thelist {
  min-height: 350px;
  background-color: #f6f8fa; }
  .thelist h2 {
    padding-top: 20px; }
  .thelist p {
    float: left;
    padding-left: 15px; }
  .thelist .img-holder {
    float: right; }

.goodfood p {
  float: right;
  width: 51%;
  margin-top: 80px; }
.goodfood img {
  width: 48%;
  max-width: 300px; }

#resume-container {
  background-color: #42617c;
  display: none;
  padding: 0 0 10px 0;
  width: 90%; }
  #resume-container h3 {
    font-size: 22px;
    margin: 10px auto;
    padding-top: 10px; }
  #resume-container .resume-sub {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 17px; }
    #resume-container .resume-sub h3 {
      margin-left: 15px; }

.resume-left {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin-left: 15px;
  width: 200px; }
  .resume-left .skills {
    width: 180px;
    margin-bottom: 20px; }
    .resume-left .skills ul {
      margin: 0 0 10px 35px; }
      .resume-left .skills ul li {
        letter-spacing: 1px;
        padding-top: 4px; }
  .resume-left .resume {
    width: 180px; }
    .resume-left .resume a {
      display: block;
      margin: 5px 0 10px 30px; }

.resume-right {
  width: 72%;
  display: inline-block; }
  .resume-right .summary {
    width: 96%;
    height: 300px; }
    .resume-right .summary p {
      width: 95%;
      margin: 0 auto 30px; }
    .resume-right .summary p:nth-of-type(1) {
      margin-bottom: 15px; }
    .resume-right .summary ul {
      list-style-type: square;
      margin: 0;
      padding: 0 0 20px 30px;
      width: 85%; }
      .resume-right .summary ul li {
        font-size: 16px;
        padding-bottom: 8px; }

@media screen and (max-width: 700px) {
  #resume-container h3 {
    font-size: 18px; }
  #resume-container .resume-sub {
    border-radius: 0;
    margin-bottom: 0; }
    #resume-container .resume-sub h3 {
      margin-left: 10px; }

  .resume-left {
    width: 100px;
    margin-right: 15px;
    text-align: left; }
    .resume-left .skills {
      width: 100px;
      margin-bottom: 0; }
      .resume-left .skills ul {
        margin: 0 0 10px 0; }
        .resume-left .skills ul li {
          letter-spacing: normal;
          font-size: 15px; }
    .resume-left .resume {
      width: 100px;
      font-size: 15px; }
      .resume-left .resume a {
        margin: 0 0 10px 0; }

  .resume-right .summary {
    width: 98%; }
    .resume-right .summary p {
      font-size: 15px; }
    .resume-right .summary ul li {
      font-size: 15px; } }
@media screen and (max-width: 1000px) {
  .resume-right {
    width: 69%; } }
@media screen and (max-width: 900px) {
  .resume-right {
    width: 67%; } }
@media screen and (max-width: 850px) {
  .resume-right {
    width: 61%; } }
@media screen and (max-width: 700px) {
  .resume-right {
    width: 77%; } }
@media screen and (max-width: 600px) {
  .resume-right {
    width: 73%; } }
@media screen and (max-width: 500px) {
  .resume-right {
    width: 66%; } }
@media screen and (max-width: 400px) {
  .resume-right {
    width: 61%; } }

#contact-container {
  display: none; }
  #contact-container .headshot {
    width: 200px;
    border-radius: 5px;
    float: left;
    margin-top: 15px; }
  #contact-container .social {
    float: right;
    width: 240px; }
  #contact-container .contact-blurb {
    display: inline-block;
    width: 56%;
    margin-left: 4%; }
    #contact-container .contact-blurb p {
      text-align: left; }

@media screen and (max-width: 550px) {
  #contact-container {
    width: 90%; }
    #contact-container .content {
      width: 100%;
      margin: 0 auto; }
      #contact-container .content img {
        width: 30%; }
      #contact-container .content .contact-blurb {
        width: 60%; }
      #contact-container .content .social {
        width: 225px;
        margin: 10px 5px 0 0; }
        #contact-container .content .social a {
          background-size: 80%;
          padding: 0;
          width: 28px; } }
@media screen and (max-width: 700px) {
  .content-container {
    width: 100%;
    min-width: 100%;
    border-radius: 0; }

  #contact-container {
    min-width: 98%;
    padding: 10px; } }
@media screen and (max-width: 500px) {
  .content-container {
    width: 98%;
    border-radius: 0; } }
